body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.profile-details, .appointment-list, .medical-records {
    margin: 20px 0;
}

.profile-details p {
    font-size: 18px;
    margin: 10px 0;
}

.profile-details strong {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    /* margin-right: 10px; */
}

th {
    background-color: #f2f2f2;
    color: #333;
    /* margin-left: 10px; */

}
